@page
@model JSP.Pages.ContactModel
@{
}

<h1 class="font-weight-light pt-3 pb-3">
    CONTACT US
</h1>
<hr class="bg-dark mb-5" />
<div class="mt-5">
    <div class="row pb-4">
        <div class="col text-center">
            <h5 class="font-weight-light">Please Contact Jai Scudder using the form, or using one of the methods below:
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var item in Model.ContactPoints)
            {
                <div class="row mb-4">
                    <div class="col">
                        <h5 class="font-weight-light">@item.ContactPointType: @item.ContactPoint</h5>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            <form method="post" id="contactForm" asp-page-handler="Contact">
                <label>Your name</label>
                <input class="form-control" id="Name" type="text" asp-for="ContactForm.Name" />
                <label>Email</label>
                <input class="form-control" id="Email" type="text" asp-for="ContactForm.Email" />
                <label>Or phone number</label>
                <input class="form-control" id="PhoneNumber" type="number" asp-for="ContactForm.PhoneNumber" />
                <label>Comment</label>
                <input class="form-control" id="Comment" type="text" asp-for="ContactForm.Comment" />
                <div class="row pt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
