@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="font-weight-bold pt-5">
        JAI SCUDDER<br />
        PLUMBING AND PROPERTY MAINTENANCE
    </h1>
    <p class="font-italic pt-5 pb-3">A local plumber that places an emphasis on quality and reputation.</p>
    <hr class="bg-jsp mb-4" />
    <div class="row">
        <div class="col">
            <img src="~/images/vanImage.jpg" alt="Jai Scudder Plumbing Van" class="pb-4" />
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card fullHeight">
                        <div class="card-header">
                            JAI SCUDDER LTD

                        </div>
                        @foreach (var item in Model.Paragraphs)
                        {
                            <div class="card-body">
                                <div class="card-text">
                                    @*<h5>@item.Header</h5>*@
                                    @item.Body
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

